---
import BaseHead from '$/components/BaseHead.astro'
import MainLayout from '$/components/MainLayout.astro'
const title = 'About';
const description = 'There\'s a simple secret to building a faster website — just ship less.';
---
<html>
  <head>
    <BaseHead title={`Astro Ink | ${title}`} description={description} />
  </head>
  <MainLayout>
    <div class="page__header mb-6">
        <h1 class="page__title">{title}</h1>
        <h5 class="page__desc">{description}</h5>
    </div>

    <article class="page__content prose lg:prose-md max-w-none dark:text-white">
        <p>
            Astro-Ink is a crisp, minimal, personal blog theme for Astro, that shows the capability of statically built sites - offering all the goodness and DX of the modern JS ecosystem without actually shipping any JS by default. It's built by...
        </p>
        <h3>Few Bots, Meta-humans & a Guy!</h3>
        <div class="author">
            <img class="rounded-full" width="160" src="https://assets.website-files.com/5e51c674258ffe10d286d30a/5e5358878e2493fbea064dd9_peep-59.svg" title="Aalam" />
            <div>
                Aftab Alam //
                <a href="https://twitter.com/aftabbuddy" title="Author's Twitter Handle">@aftabbuddy</a> //
                <a href="https://github.com/one-aalam" title="Author's Github URL">one-aalam</a>
            </div>
        </div>
    </article>

  </MainLayout>
</html>

<style>
    .page__header {
        @apply py-4 mb-1
    }
    .page__title {
        @apply text-5xl font-extrabold text-primary dark:text-primaryDark
    }
    .page__desc {
        @apply text-gray-400
    }
    .author {
        @apply flex flex-col w-full
    }
</style>
