---
import BaseHead from '$/components/BaseHead.astro'
import Intro from '$/components/Intro.astro'
---
<html>
  <head>
    <BaseHead />
  </head>
  <body class="font-sans antialiased">
    <Intro/>
  </body>
</html>
