<body class="font-sans antialiased min-h-screen">
    <div class="bg-gray-100 dark:bg-gray-800 transition-colors">
        <main class="mx-auto max-w-4xl px-4 md:px-0">
            <slot />
        </main>
    </div>
</body>
