<div class="footer">
    <nav class="nav">
        <div>2021  &copy; Copyright notice |  <a href="https://github.com/one-aalam/astro-ink">Ink</a> theme on <a href="https://astro.build/">Astro</a></div>
    </nav>
</div>
<style>
    .footer {
        @apply py-6 border-t dark:text-gray-300 border-gray-200  dark:border-gray-700
    }
</style>
