---
    import { SITE } from '$/config'
    import ModeLabel from './ModeLabel.svelte'
---
<footer class="footer">
    <nav class="nav">
        <div>2021  &copy; Copyright notice |  <a href={ SITE.githubUrl } title={`${ SITE.name }'s Github URL'`}>{ SITE.name }</a>
        <ModeLabel client:load/> theme on <a href="https://astro.build/">Astro</a></div>
    </nav>
</footer>
<style>
    .footer {
        @apply py-6 border-t
    }
</style>
