<img class="w-1/3" src="/assets/yay.svg" alt="Yay!" />
<h1 class="h1">Hello, World!</h1>

<style>
    img {
        @apply mx-auto mt-6
    }
    h1 {
      @apply w-full justify-center text-center text-3xl font-bold text-purple-600 py-10
    }
</style>
