---
import BaseLayout from './BaseLayout.astro';
import Header from './Header.astro';
import Footer from './Footer.astro';
import Nav from './Nav.astro';

---
<BaseLayout>
    <br class="my-4"/>
    <Header/>
    <Nav/>
    <div class="content">
        <slot />
    </div>
    <br class="my-4"/>
    <Footer/>
</BaseLayout>

<style>
    .content {
        min-height: 580px
    }
</style>
